/*basic style*/
* {
    box-sizing: border-box;
}


h1 {
margin-bottom: 15px;
text-align: center;
font-size: 50px;
font-family: 'Indie Flower', cursive;
}

section {
    position: relative;
    padding: 15px;
    width: 90%;
}

p {
    position: relative;
    clear: right;
    font-family: 'Indie Flower', cursive;
}

div {
    position: relative;
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  
}

.sub1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -1px -1px 0px;
    border: 1.5px solid black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color:lightpink;

}

.sub2 {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: -1px -1px 0px;
    border: 1.5px solid black;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    background-color: red

}

.sub3 {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
     margin: -1px -1px 0px;
    border: 1.5px solid black;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    background-color: yellow;

}

.content {
    padding: 5px;
    border: none;
    background-color: gray;
    color: black;
    margin: 3px ;
    height: 150px;
    overflow: auto;
}

.row {
    width: 90%;
}

/*desktop version*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}